<h1 class="indexhone" >LOOOOOOKKKK</h1>
<div class="show-wrap">
<% @works.each do |work| %>
    <%# <%=link_to work.title, work %>
    <%= link_to cl_image_tag(work.image_url, :class => 'thumbnail'), work %>
<% end %>
</div>