<div class="like">
    <% if @current_user != @work.user && !@current_user_has_already_liked %>
        <%= link_to "like", work_likes_path(@work.id), :method => :create, class: 'btn'%>
    <% end%>
    <% if @current_user != @work.user &&  @current_user_has_already_liked %>
        <%= link_to "unlike", work_like_path(@work.id, @like.id), :method => :delete, class: 'btn'%>
    <% end %>    
    <p><%= pluralize(@likes_count, "like") %></p>
</div>
