<% unless @current_user.present?%>

<% end %>
<% if @current_user.present? %>
    <p class ="greet">HELLO <%= @current_user.name %></h2>
            <h2>GOT ANY WORKS? SHOW THEM OFF!</h2>
    <main>
            <h1 class= "welcome">W</h1><h1 class ="welcometwo">e</h1><h1 class="welcome">L</h1><h1 class="welcometwo">C</h1><h1 class="welcome">O</h1><h1 class="welcometwo">M</h1><h1 class="welcome">e</h1>
    </main>
    <p>This is a site for everyone who makes things. No bias on medium, no bias on technique, no bias on length of your practice. If you have anything that you made and want to share, this is the place.</p>

<% end%>
<footer>
    <p>Collectart woud like to acknowledge the Traditional Owner and Custodians of the land on which we live, the peoples of the Kulin Nation. We pay the respect to their elders past and peresent.</h2>
</footer>