
body{
    background-color: rgb(1, 26, 20);
    color:bisque;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    /* transform: translateX(-40%); */
}

.thumbnail {
    height: 14em;
    padding:.3em;
}


nav a{
    color: rgb(161, 13, 141);
    text-decoration: none;
    font-size: 2em;
    padding: .2em;
}

a:hover {
    position: relative;
    bottom: .2em;
}

h1{
    font-size: 3.5em;
    text-align: center;
}
li{
    list-style: none;
    font-size: 3em;
}

.bigimage {
    max-width:40em;
    transform: translateX(12em);
}

.work_description{
    transform: translateX(12em);
}

.wrap{
    display: flex;
    align-items: center;
    gap:2em;
}

.new_work {
    text-align: center;
}
.label {
    font-size: 2em;
    display: block;
    padding:.3em;
}
 input, select{
    padding: .5em 0;
    width: 20em;
    font-size: 1.5em;
    border-radius: .5em;
 }

 .submit{
    font-size: 2em;
    width: 8em;
 }

.new_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.new_user label{
    font-size: 1.3em;
    display: block;
    padding:.3em;
}

.btn {
    width: 5em;
    background-color: rgb(177, 144, 60);
}

.controller{
    text-align: center;
}
.controller a{
    color: rgb(161, 13, 141);
    text-decoration: none;
    font-size: 2em;
    padding: .2em;
    display: inline-block;
   text-align: center;
   border-radius: .5em;
   margin-right: .4em;
}